node_modules/
.DS_Store
.vscode/
BACKUP/
.backup/
dist/Assets/animated.bringshappiness.glb
dist/Assets/tipi.bringshappiness.obj
dist/Assets/animated.avatar.glb
SacredOnes.1/public/Assets/YellowButterFlySpirit.obj
SacredOnes.1/public/Assets/tipi.bringshappiness.obj
SacredOnes.1/public/Assets/animated.avatar.glb
_legacy_archive/Assets/YellowButterFlySpirit.obj
_legacy_archive/Assets/tipi.yellowbutterfly.obj
_legacy_archive/Assets/drums+3d+model/drums.obj
Assets/animated.bringshappiness.glb
Assets/Avatar2.glb
Assets/tipi.bringshappiness.obj
Assets/animated.avatar.glb
